.pushmenu { /*this is the nav*/
  background: #111;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position:fixed;
}

.pushmenu img {
  max-width: 100px;
	margin: 0 auto;
}

.pushmenu a {
  display: block; /* drops the nav vertically*/
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #312e2a;
  padding: 14px;
  width: 100%;
}

.pushmenu a:hover {
  background:#203880;
  text-decoration: none;
  color: white;
}

.pushmenu a:active {
  background: #454f5c;
  color: #fff;
}

.pushmenu-left {
  left: -240px;

}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 240px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#nav_list {
  background: url("../images/hamburger.png") no-repeat left top;
  cursor: pointer;
  height: 22px;
  width: 30px;
  text-indent: -99999em;
}

nav-list.active {
  background-position: -33px top;
}

 .buttonset {
  height: 16px;
  padding: 10px 20px 20px;
  position: absolute;
  z-index: 4;
 }

 .sidebar_userprofile{
   width: 100%;
 }

 .sidebar_userprofile img{
  border-radius: 60pt;
  max-width: 40px;
 }

 .sidebar_userprofile p{
   display: inline-block;
   padding-left: 15px;
 }
