/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .fadein img{
    height: 45%;
    margin: 45% -29%;
  }

  .logo img{
    max-width: 160px;
  }

  #login{
    background-image: url('../images/login_mobile.jpg');
  }


  #about .backgroundimage{
    top: -0%;
    left: -60%;
    width: 200%;
    height: 100%;
  }

  #about p{
    padding-right: 10px;
  }

  #story img{
    max-width: 300px;
    margin-bottom: 30px;
  }

  #story .title{
    position: absolute;
    z-index: 4;
    top:1%;
    right: 0%;
  }

  #story .title img{
    max-width: 150px;
  }
  #story .title h3{
    margin-top: -65%;
    text-align: center;
  }

  #story .social{
    position: absolute;
    z-index: 4;
    margin-top: 35%;
    left: 5%;
  }

  #story .social img{
    max-width: 20px;
    margin-left: 18px;
  }

  #story .desciption{
    position: absolute;
    z-index: 4;
    top:15%;
    right: 0;
    max-width: 300px;

  }

  #story .desciption h3{
    font-size: 14pt;
    line-height: 18pt;
    text-shadow: 1px 0px 0px #999;
  }



  #story .gallery img{
    max-width: 33.3333%;
    margin: 0;
    float: left;
  }
}
