/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .fadein img{
    height: 45%;
    margin: 45% -29%;
  }

  .logo img{
    max-width: 160px;
  }

  #login{
    background-image: url('../images/login_mobile.jpg');
  }

  #login .logo{
    margin-top: 50%;
  }

  .MapSearch{
    right: 2%;
    top: 1%;
  }

  .MapSearch input{
    min-width: 100px;
  }

  #about{
    position: absolute;
    background-image: url('../images/about_mobile.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #about p{
    padding-right: 10px;
  }

  #profile .picture {
    background-color: #333;
    min-height: 300px;
  }

  #profile .picture .userinfo{
    top:30%;
    left: 3%;
    position: absolute;
    z-index: 4;
  }

  #profile .picture img {
  	max-width: 80px;
  	border-radius: 80pt;
  	display: inline-block;
  }

  #profile .picture h2{
    color: white;
    margin-left: 20px;
    display: inline-block;
    font-size: 14pt;
  }

  #profile .picture .coverphoto{
    top:1%;
  }

  #profile .picture .coverphoto button {
  	margin: 0px auto;
  	padding: 5px 20px;
  	color: #111;
  }


  #story .heroimage {
    margin-top: 40%;
  }

  #story .heroimage img{
    max-width: 250px;
    margin-bottom: 15%;
  }

  #story .title{
    position: absolute;
    z-index: 4;
    top:1%;
    right: 5%;
  }

  #story .title img{
    max-width: 120px;
  }
  #story .title h3{
    margin-top: -45%;
    text-align: center;
    font-size: 12pt;
  }

  #story .social{
    position: absolute;
    z-index: 4;
    margin-top: 35%;
    left: 0%;
  }

  #story .social img{
    max-width: 20px;
    margin-left: 15px;
  }

  #story .desciption{
    position: absolute;
    z-index: 4;
    top:40%;
    left: 10%;
    right: 10%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.7);
  }

  #story .desciption h3{
    font-size: 12pt;
    line-height: 16pt;
    font-weight: bold;
    padding: 20px;
  }

  #story .gallery{
      clear: both;
  }

  #story .gallery img{
    max-width: 33.3333%;
    margin: 0;
    padding: 0;
    float: left;
    border: none;
  }
}
