@import "font-awesome";
@font-face {
    font-family: TradeGothic;
    src: url(../fonts/TradeGothicforNike365-Light.ttf);
}

@font-face {
    font-family: hoopfont;
    src: url(../fonts/DINSRG__.ttf);
}
html, body{
	font-family: 'TradeGothic', sans-serif;
  height: 100%; width: 100%:
}

h1,h2,h3,h4,h5,h6,p,a,button{
  font-family: 'TradeGothic', sans-serif;
}

a{
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  text-decoration: none !important;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}

.button{
  padding: 10px 20px;
  color: #fff;
  margin: 10px 0;
}


section.content {
  height: 100%;
  width: 100%;
}

/**********Landing Page**********/
.logo{
  position: absolute;
  z-index: 4;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 150px;
}

.logo img{
  max-width: 200px;
}

.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url("../images/nav-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

/**********Image slider**********/
.fadein {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.fadein img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

}

/**********Map**********/
#map{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;

}
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint {
	display: none;
}


/*About*/
#about{
  height: 100%;
  width: 100%;
}

#about .backgroundimage{
  position: absolute;;
  top: -0%;
  left: -50%;
  width: 200%;
  height: 100%;
  overflow: hidden;
}

#about .backgroundimage img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#about h2{
  font-family: 'hoopfont';
  color: #111;
  font-size: 38pt;
  text-transform: uppercase;
  position: relative;
  margin-top: 100px;
}

#about p{
  font-size: 12pt;
  color: #111;
  padding-right: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#about .button{
  background-color: #203880;
  border-radius: 20pt;
  padding: 5pt 30pt;

}

#about .button:hover{
  color: white;
  background-color: #a21d21;
}

/**********Addhoop**********/
